<center><img src='https://raw.githubusercontent.com/Jangrae/img/master/title.png' width=500/></center>

- Shift + Enter: 실행하고 다음 셀로 이동
- Ctrl + Enter: 실행하고 해당 셀에 머물기
- M: 텍스트 셀로 변경
- Y: 코드 셀로 변경

# 1. 기본 연산자

- 기본 연산자를 시작으로하여 Python을 배워봅니다.

## 1.1.시작하기

- 우선 변수, 식별자, 키워드에 대한 개념을 세워봅니다.


### 1.1.1.변수(Variables)

- **변수**는 값을 담는 그릇 또는 상자라고 할 수 있습니다.
- 이후 연산 등의 **재사용 목적**을 위해 값을 담아 두는 존재입니다.
- 변수에 담은 데이터를 이렇게 저렇게 처리하는 것이 **프로그래밍**입니다.
- 변수에 담아진 수 많은 데이터를 분석하는 것이 **데이터 분석**입니다.
- **변수 = 값** 형태로 값을 대입하면서 변수를 선언합니다.
- 변수 이름은 그 의미를 알 수 있게 적절한 단어를 사용합니다.
- 변수에 대입된 값에 의해 변수의 자료형(=데이터 형식)이 결정됩니다.
- 코드셀에 변수 이름만 입력하고 실행하면 변수의 값이 표시됩니다.

In [ ]:
# 정수형 변수
age = 30

# 변수 값 확인
age

- 변수를 일부러 제거하지 않는 한 코드 셀이 달라도 변수는 계속 유지됩니다.

In [ ]:
# 변수 값 변경
age = age + 1

# 변수 값 확인
age

### 1.1.2.식별자(Identifier)

- 변수 또는 함수 등에 이름을 붙이기 위해 사용하는 단어를 **식별자**라고 합니다.
- 식별자는 다음과 같은 **규칙**을 갖습니다.
    - 키워드를 사용할 수 없음
    - 언더 바(_)를 제외하고는 특수 문자를 사용할 수 없음
    - 공백을 포함해서는 안됨
    - 숫자로 시작하면 안됨
- 다음은 올바른 식별자의 예입니다.
     - age, score, member, member_01, num01, num02
- 다음은 올바르지 않은 식별자의 예입니다.
     - if, while, 123, 3Member, My Score, a+b
- 대/소문자를 구분하므로 대/소문자 여부에 신경쓰지 않게 **소문자 사용을 권고**합니다.
- 또한 언더 바와 영어 단어를 적절히 섞어 가독성이 좋게 하기를 권고합니다.
     - 안 좋은 예: myname, englishscore
     - 좋은 예: my_name, english_score

### 1.1.3.Python 키워드(Keywords)

- Python 키워드는 Python 자체 사용 목적으로 이미 예약된 문자열입니다.
- Python 키워드를 변수나 함수 이름, 즉 **식별자**로 사용할 수 없습니다.
- 다음이 Python 키워드이며, Python 버전이 바뀌면서 달라질 가능성이 있습니다.

<img src='https://raw.githubusercontent.com/jangrae/img/master/keywords.png' width=540 align="left"/>

- keyword 라이브러리를 사용해 Python 현재 버전의 키워드를 확인할 수 있습니다.

In [1]:
# 키워드 확인
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

## 1.2.연산자(Operators)

- Python은 수식을 **계산(=산술)** 하거나 값을 **비교**하거나 **대입**하는 등의 다양한 **연산자**를 가지고 있습니다.

### 1.2.1.산술 연산자(Arithmetic Operators)

- **사칙연산(+, -, \*, /)** 은 일반적으로 알고 있는 연산 방법(더하기 빼기 등)과 같습니다.
- **나머지**(%), **몫**(//), **제곱**(**)에 대한 부분은 조금 낯설 것이니 관심을 두고 배워야 합니다.
- 값을 더하거나 빼는 등의 처리를 하는 연산자를 **산술 연산자**라고 부릅니다.
- 대부분 정수와 실수가 산술 연산자 처리 대상이 됩니다.

In [3]:
# 정수형 변수
a = 26
b = 5

**1) 사칙 연산자**

In [ ]:
# 더하기
a + b

In [ ]:
# 빼기
a - b

In [ ]:
# 곱하기
a * b

In [ ]:
# 나누기
a / b

**2) 몫, 나머지, 제곱 연산자**

In [ ]:
# 몫
a // b

In [ ]:
# 나머지
a % b

In [6]:
# 제곱
a ** 2

676

**3) 연산자 활용**

- **% 연산자**는 짝수 또는 홀수 인지를 판단할 때 사용하는 경우가 많습니다.
- 조건문(if 문)을 아직 배우지 않았지만 다음 코드의 의미는 파악이 될 것입니다.

In [ ]:
# 정수형 변수
a = 20

# 짝/홀수 판단
if a % 2 == 0:
    result = '짝수'
else:
    result = '홀수'

# 확인
result

- **// 연산자**는 10 단위 또는 100 단위 등의 수를 구할 때 사용하는 경우가 많습니다.

In [ ]:
# 정수형 선언
age = 26

# 10으로 나눈 몫을 구한 후 10 곱하기
age = age // 10 * 10

# 확인
age

### 1.2.2.print() 함수

- 단순 값, 변수의 값, 연산 결과 등을 확인하기 위해 print() 함수를 사용합니다.
- 아래 코드의 실행 결과를 비교해 보면 print() 함수의 필요성을 알 수 있습니다.
- print() 함수 안에 콤마로 구분해 값을 여러 개 전달할 수 있어 다음과 같이 사용할 수 있습니다.

In [ ]:
# 실수형 변수
c = 10.5
d = 2.5

In [ ]:
# print() 함수를 사용하지 않은 경우 --> 값이 하나만 표시됨
c % d
c // d

In [ ]:
# print() 함수를 사용한 경우 #1 --> 값이 여러번 표시됨
print(c % d)
print(c // d)

In [ ]:
# print() 함수를 사용한 경우 #2
print('c =', c)
print('d =', d)
print('c % d =', c % d)
print('c // d =', c // d)

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_20.png' width=120 align="left"/>

[문1] name, age 변수에 본인의 이름과 나이를 대입하고 코드를 실행하세요

In [7]:
# 변수에 이름과 나이 대입
name = "김현준"
age = 25

In [8]:
# 나이 빼기
age = age - 10

In [9]:
# 값 확인 #1
print('이름:', name)
print('나이:', age)

이름: 김현준
나이: 15

In [10]:
# 값 확인 #2
print('이름:', name, '/', '나이:', age)

이름: 김현준 / 나이: 15

[문2] 다음 변수들의 합계와 평균을 tot_score, avg_score 변수에 대입한 후 결과를 확인하는 코드를 작성하세요.

In [18]:
# 정수형 변수
score1 = 153
score2 = 204
score3 = 259
score4 = 221
score5 = 267

# 합계 구하기

scores = [153, 204, 259, 221, 267]
total = 0

for i in scores:
    total += i

print(total)

# 평균 구하기
avg = total/5

print(avg)

# 출력

1104
220.8

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_20e.png' width=45 align="left"/>

### 1.2.3.비교 연산자(Comparison Operators)

- 값이나 변수 또는 연산 결과 등의 크기를 비교하는 연산자를 비교 연산자라고 합니다.
- = 는 값을 대입하는 연산자이며, '같다' 비교는 <font color='red'>**==**</font> 연산자를 사용합니다.
- '같지않다' 비교는 <> 가 아닌 <font color='red'>**!=**</font> 을 사용해야 함을 기억하세요.
- Python은 문자의 **대문자와 소문자를 구분**하여 비교하니 주의하세요.
- 비교 연산의 결과는 **True** 아니면 **False** 가 됩니다(true, false가 아닌, True, False 임).

**1) 숫자 비교**

In [ ]:
# 정수형 변수
a = 10
b = 20

# '크다' 비교
a > b

In [ ]:
# '같다' 비교
a == b

In [ ]:
# '작다' 비교
a < b

**[참고] 조건문에 사용됨**

- 비교 연산자는 조건에 따라 처리를 제어하는 **조건문**에 많이 사용합니다.
- 다음 구문은 score 변수 값이 80 이상이면 'Good' 그렇지 않으면 'Bad'를 출력합니다.

In [ ]:
# 정수형 변수
score = 85

# 조건문 예
if score >= 80:
    print('Good')
else:
    print('Bad')

### 1.2.4.복합 대입 연산자(Compound Assignment Operators)

- **연산과 대입을 동시**에 수행할 수 있는 연산자를 복합 대입 연산자라고 부릅니다.
- 코드를 단순하게 해주지만, **너무 많이 사용하면 오히려 복잡해 질 수도** 있으니 적절히 사용하기 바랍니다.

In [ ]:
# 정수형 변수
a = 10

# 복합 대입 연산자 사용
a += 10
a -= 2
a *= 2
a /= 5

# 확인
print(a)

## 1.3.자료형 변환

- **float()**, **int()**, **str()**, **bool()** 함수를 사용해 자료형을 변환합니다.
- 함수 이름이 자료형 이름과 같으므로 쉽게 기억할 수 있을 것입니다.
- **type()** 함수로 자료형을 확인할 수 있습니다.

**1) float() 함수: 문자열, 정수 → 실수**

In [19]:
# 문자열, 정수 --> 실수
a = float('10.5')
b = float(10)
print(type(a))
print(type(b))
print(a)
print(b)

<class 'float'>
<class 'float'>
10.5
10.0

**2) int() 함수: 문자열, 실수 → 정수**

In [20]:
# 문자열, 실수 --> 정수
a = int('10')
b = int(123.45)
print(type(a))
print(type(b))
print(a)
print(b)

<class 'int'>
<class 'int'>
10
123


**3) str() 함수: 숫자 → 문자열**

In [24]:
# 숫자 --> 문자열
c = str(123.45)
print(type(c))
print(c)

<class 'str'>
123.45

**4) bool() 함수: 숫자, 문자열 → 불리언형**

- 0이면 False, 나머지는 True

In [25]:
# 숫자 --> 불리언형
d = bool(-12)
print(type(d))
print(d)

e = bool(0)
print(type(e))
print(e)

<class 'bool'>
True
<class 'bool'>
False


- 완전 공백('')이면 False, 나머지는 True

In [26]:
# 문자 --> 불리언형
f = bool('a')
print(type(f), f)

g = bool('')
print(type(g), g)

<class 'bool'> True
<class 'bool'> False

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_20.png' width=120 align="left"/>

[문1] 다음 셀이 오류 없이 제대로 수행되게 수정해 보세요.

In [28]:
# 문자열과 숫자 연결
print('I am ' + str(20) + ' years old.')

I am 20 years old.

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_20e.png' width=45 align="left"/>

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_30.png' width=120 align="left"/>

[문1] 두 문자열 '파이썬을 배웁시다.',  '누구든 할 수 있습니다.'를 하나의 print() 함수로 출력하세요.

In [29]:
print("파이썬을 배웁시다.", "누구든 할 수 있습니다.")

파이썬을 배웁시다. 누구든 할 수 있습니다.

[문2] 숫자 123, 문자열 '오늘은', 문자열 '12월20일 입니다.'를 각각의 print() 함수로 출력하세요.

In [30]:
print(str(123), "오늘은", "12월20일 입니다.")

123 오늘은 12월20일 입니다.

[문3] 31과 31.0이 같은 지를 비교 연산자로 확인하세요.

In [31]:
print(31 == 31.0)

True

[문4] 24와 24.0이 다른 지를 비교 연산자로 확인하세요.

In [32]:
print(24 == 24.0)

True

[문5] 홍길동의 성적을 아래 요구사항에 따라 처리하세요.
- 국어: 96점, 수학: 72점, 영어: 88점
- 변수 kor, math, eng에 각 과목 점수 대입
- 변수 avg에 평균 점수를 계산하여 대입
- 문자열 '홍길동의 평균 점수는'과 변수 avg를 하나의 print() 함수로 출력
- 평균 = (전체 자료의 합) / (전체 자료의 수)

In [42]:
kor = 96
math = 72
eng = 88

avg = (kor + math + eng) / 3

print("홍길동의 평균 점수는", round(avg,1))

홍길동의 평균 점수는 85.3
홍길동의 평균 점수는 85.33333333333333

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_30e.png' width=45 align="left"/>