<center><img src='https://raw.githubusercontent.com/Jangrae/img/master/title.png' width=500/></center>

# 4.튜플, 집합, 딕셔너리 자료형

- 문자열과 리스트 자료형 외에도 **튜플, 집합, 딕셔너리**라는 컨테이너 자료형이 있습니다.
- 문자열과 리스트 보다는 많이 사용되지 않지만, 중요한 자료형이니 익혀두어야 합니다.
- 특히 딕셔너리 자료형은 이후 과정에서 상당히 많이 사용되는 자료형입니다.

## 4.1.튜플(Tuple)

- 튜플은 **리스트와 정말 비슷한 자료형**입니다.
- 튜플은 대괄호 [ ]가 아닌 **소괄호 ( )** 를 사용해서 표현합니다.
- 튜플은 한 번 만들면 **요소의 값을 바꿀 수 없음** 이 리스트와 다릅니다.
- 그 외는 리스트와 같은 특성을 가지므로 이해하기 쉬울 것입니다.
- 단, **괄호를 생략할 수 있다**는 점은 리스트와 다릅니다.
- 리스트에서는 대괄호를 생략할 수 없습니다.

### 4.1.1.다양한 튜플 만들기

**1) 빈 튜플 만들기**

- 다음은 빈 튜플을 만드는 두 가지 방법입니다.

In [1]:
# 빈 튜플 만들기 #1
score = ()

# 확인
print(score)

()

In [2]:
# 빈 튜플 만들기 #2
score = tuple()

# 확인
print(score)

()

**2) 요소가 하나인 튜플 만들기**

- 요소가 하나인 튜플을 만들 때는 조심해야 합니다.
- 다음은 요소가 하나인 튜플을 만드는 구문이 아닌 정수형 변수를 선언한 구문입니다.

In [3]:
# 튜플을 잘못 만든 예
score = (90)

# 확인
print(score)
print(type(score))

90
<class 'int'>

- 요소가 하나인 튜플은 다음과 같이 **콤마를 추가**해서 만들어야 합니다.

In [4]:
# 요소가 하나인 튜플 만들기
score = (90,)

# 확인
print(score)
print(type(score))
print(len(score))

(90,)
<class 'tuple'>
1

**3) 다양한 형태의 튜플**

In [5]:
# 여러 형태의 튜플 만들기
score1 = (90, 85, 70)
score2 = 90, 85, 70
score3 = (90, 85, 70, ('A', 'B', 'D', 'F'))

# 확인
print(score1)
print(score2)
print(score3)

(90, 85, 70)
(90, 85, 70)
(90, 85, 70, ('A', 'B', 'D', 'F'))

In [6]:
# range() 함수를 사용해 만들기
nums = tuple(range(5))

# 확인
print(nums)

(0, 1, 2, 3, 4)

In [7]:
# 문자열로 튜플 만들기
chars = tuple('PYTHON')

# 확인
print(chars)

('P', 'Y', 'T', 'H', 'O', 'N')

### [참고] 리스트 vs. 튜플

- 리스트와 튜플의 차이는 사용하는 괄호가 다르며, 튜플은 요소를 변경할 수 없다고 했습니다.
- 튜플이 요소를 변경할 수 없다는 것을 확인해 봅니다.
- 우선 다음과 같이 리스트를 만들고 요소 하나를 변경합니다.

In [8]:
# 리스트 만들기
a = [1, 2, 3, 4, 5]

# 요소 변경
a[0]= 10

# 확인
print(a)

[10, 2, 3, 4, 5]

- 다음과 같이 튜플을 만들고 요소 하나를 변경합니다.
- 리스트와는 달리 요소를 변경할 수 없다는 오류가 발생합니다.

In [9]:
# 튜플 만들기
b = (1, 2, 3, 4, 5)

# 요소 변경
b[0] = 10

TypeError: 'tuple' object does not support item assignment

## 4.2.집합(Set)

- 집합은 **중괄호 { }** 를 사용해서 만듭니다.
- **집합 연산**(교집합, 합집합, 차집합, 대칭 차집합)을 위한 자료형입니다.
- 중복을 허용하지 않아 중복된 원소는 하나만 제외하고 모두 무시됩니다.
- 원소의 **순서가 의미가 없으므로 인덱싱과 슬라이싱으로 값을 얻을 수 없습니다.**

### 4.2.1.집합 만들기

**1) 정수를 갖는 집합**

In [10]:
# 정수를 갖는 집합
nums = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

# 확인
print(nums)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

**2) 문자열을 갖는 집합**

In [11]:
# 문자열을 갖는 집합
members = {'홍길동', '한사랑', '일지매', '박여인'}

# 확인
print(members)

{'홍길동', '일지매', '한사랑', '박여인'}

**3) 여러 자료형을 갖는 집합**

In [16]:
# 여러 자료형을 갖는 집합
etc = {'홍길동', 100, (1, 2, 3), '박여인'}

# 확인
print(etc)

{'홍길동', (1, 2, 3), 100, '박여인'}

### 4.2.2.합집합, 교집합, 차집합

- 집합 자료형을 사용하는 목적이 이것일 것입니다.

**1) 합집합**

- 합집합은 **|** 또는 **union()** 메서드를 사용해 구합니다.

In [17]:
# 집합 만들기
member_set1 = {'홍길동', '한사랑', '일지매', '박여인'}
member_set2 = {'한사랑', '홍길민', '강우동'}

# 합집합 구하기 #1
member_set3 = member_set1 | member_set2

# 확인
print(member_set3)

{'일지매', '홍길민', '한사랑', '홍길동', '강우동', '박여인'}

In [18]:
# 합집합 구하기 #2
member_set3 = member_set1.union(member_set2)

# 확인
print(member_set3)

{'일지매', '홍길민', '한사랑', '홍길동', '강우동', '박여인'}

**2) 교집합**

- 교집합은 **&** 또는 **intersection()** 메서드를 사용해 구합니다.

In [19]:
# 집합 만들기
member_set1 = {'홍길동', '한사랑', '일지매', '박여인'}
member_set2 = {'한사랑', '홍길민', '강우동'}

# 교집합 구하기 #1
member_set3 = member_set1 & member_set2

# 확인
print(member_set3)

{'한사랑'}

In [20]:
# 교집합 구하기 #2
member_set3 = member_set1.intersection(member_set2)

# 확인
print(member_set3)

{'한사랑'}

**3) 차집합**

- 차집합은 **-** 또는 **difference()** 메서드를 사용해 구합니다.

In [21]:
# 집합 만들기
member_set1 = {'홍길동', '한사랑', '일지매', '박여인'}
member_set2 = {'한사랑', '홍길민', '강우동'}

# 차집합 구하기 #1
member_set3 = member_set1 - member_set2

# 확인
print(member_set3)

{'홍길동', '일지매', '박여인'}

In [22]:
# 차집합 구하기 #2
member_set3 = member_set1.difference(member_set2)

# 확인
print(member_set3)

{'홍길동', '일지매', '박여인'}

**4) 대칭 차집합**

- 대칭 차집합은 **^** 또는 **symmetric_difference()** 메서드를 사용해 구합니다.

In [23]:
# 집합 만들기
member_set1 = {'홍길동',  '한사랑', '일지매', '박여인'}
member_set2 = {'한사랑', '홍길민', '강우동'}

# 대칭 차집합 구하기 #1
member_set3 = member_set1 ^ member_set2

# 확인
print(member_set3)

{'홍길동', '박여인', '강우동', '일지매', '홍길민'}

In [24]:
# 대칭 차집합 구하기 #2
member_set3 = member_set1.symmetric_difference(member_set2)

# 확인
print(member_set3)

{'홍길동', '박여인', '강우동', '일지매', '홍길민'}

### [참고] 집합으로 자료형 변환

- **set()** 함수를 사용해 다른 자료형을 집합으로 변환합니다.
- 집합은 요소의 순서가 없으니 변환 후 요소 순서가 어떻게 될 지 알 수 없습니다.

**1) 문자열 → 집합**

- list(), tuple() 함수로 문자열을 리스트나 튜플로 변환할 수 있었습니다.
- set() 함수로 개별 문자를 요소로 갖는 집합을 만들 수 있습니다.
- 같은 요소를 갖지 않는 집합의 특징에 따라 **중복된 문자는 제거**됩니다.

In [25]:
# 문자열로 집합 만들기
hello = set('잘지내지요')

# 확인
print(hello)

{'잘', '요', '지', '내'}

**2) range() → 집합**

- range() 함수로 리스트, 튜플, 집합등 다양한 자료형을 만들 수 있습니다.

In [26]:
# range로 집합 만들기
nums = set(range(0, 10))

# 확인
print(nums)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

**3) 리스트 → 집합**

- 리스트가 집합으로 변환되면 중복된 요소는 제거됩니다.

In [27]:
# 리스트 만들기
member = ['홍길동', '한사랑', '홍길동', '일지매', '박여인']

# 집합 만들기
member1 = set(member)

# 확인
print(member1)

{'홍길동', '일지매', '한사랑', '박여인'}

**4) 튜플 → 집합**

- 역시 중복된 요소는 제거됩니다.

In [28]:
# 튜플 만들기
member = ('홍길동', '한사랑', '홍길동', '일지매', '박여인')

# 집합 만들기
member2 = set(member)

# 확인
print(member2)

{'홍길동', '일지매', '한사랑', '박여인'}

## 4.3.딕셔너리(Dictionary)

- 딕셔너리는 집합과 마찬가지로 **중괄호 { }** 를 사용해 선언합니다.
- 하지만 {Key1: Value1, Key2: Value2, Key3: Value3}의 형태를 가지므로 집합과 구분됩니다.
- 딕셔너리는 순서의 의미가 없으며, **키(Key)를 사용해 값(Value)을 확인합니다.**
- 리스트와 더불어 많이 사용되는 자료형이니 필히 익숙해져야 합니다.

<img src='https://raw.githubusercontent.com/jangrae/img/master/dictionary.png' width=600 align="left"/>

**[참고] 딕셔너리 요소 순서**

~~~
딕셔너리는 파이썬 3.6 이전 버전까지 정렬되지 않은 자료 구조로 간주되었습니다. 즉, 딕셔너리에 요소를 추가한 순서가
유지되지 않아서, 조회할 때 요소들이 추가된 순서대로 나타나지 않을 수 있었습니다. 그러나 파이썬 3.6부터 딕셔너리가
내부적으로 삽입 순서를 유지하기 시작했습니다. 이 부분이 공식적으로 문서화되지 않았지만, 대부분의 경우 순서가 유지
되는 것을 경험할 수 있었습니다. 3.7 버전부터 요소 순서 유지 기능이 공식화되어, 딕셔너리가 삽입된 요소 순서를 유지
한다고 보장합니다. 즉, 파이썬 3.7 이상에서는 딕셔너리에 요소를 추가하면, 그 순서대로 요소들이 내부적으로 정렬되어
있으며, 딕셔너리를 조회할 때 그 순서대로 요소를 얻을 수 있습니다.
~~~

### 4.3.1.딕셔너리 만들기

**1) 일정한 정보를 갖는 딕셔너리**

In [29]:
# 영어:한글
word = {'love': '사랑', 'happy': '행복', 'dream': '꿈'}

# 확인
print(word)

{'love': '사랑', 'happy': '행복', 'dream': '꿈'}

In [30]:
# 이름:점수
score = {'홍길동': 100, '한여인': 90, '일지매': 90}

# 확인
print(score)

{'홍길동': 100, '한여인': 90, '일지매': 90}

- 다음과 같이 요소를 아래로 나열하면 가독성이 좋아집니다.

In [31]:
# 이름:점수
score = {'홍길동': 100,
         '한여인': 90,
         '일지매': 90}

# 확인
print(score)

{'홍길동': 100, '한여인': 90, '일지매': 90}

**2) 다양한 정보를 갖는 딕셔너리**

- 리스트나 튜플을 Value로 가질 수 있습니다.

In [32]:
# 다양한 정보를 갖는 딕셔너리
member1 = {'이름':'홍길동',
           '나이': 20,
           '지역':'서울'}

# 확인
print(member1)

{'이름': '홍길동', '나이': 20, '지역': '서울'}

In [83]:
# Value가 리스트인 딕셔너리
member2 = {'이름': '홍길동',
           '취미': ['독서', '여행', '걷기']}

# 확인
print(member2)
print(member2['취미'][0])

{'이름': '홍길동', '취미': ['독서', '여행', '걷기']}
독서

**3) 숫자가 Key인 경우**

- 당연히 숫자도 Key가 될 수 있습니다.

In [34]:
# 숫자가 Key인 리스트
nums = {1:10, 2:20, 3:30}

# 확인
print(nums)

{1: 10, 2: 20, 3: 30}

**4) 같은 Key 무시**

- 만일 Key가 같은 요소가 있으면 하나만 남기고 나머지는 무시됩니다.

In [36]:
# 딕셔너리 만들기
score = {'홍길동': 100,
         '한여인': 90,
         '홍길동': 95,
         '한여인': 70,
         '한국인': 75,
         '일지매': 90}

# 확인
print(score)

{'홍길동': 95, '한여인': 70, '한국인': 75, '일지매': 90}

### 4.3.2.딕셔너리 조회

- 딕셔너리는 요소 순서가 없으므로 인덱싱과 슬라이싱을 할 수 없습니다.
- **Key를 사용해 Value를 찾는 방식으로 조회합니다.**

In [37]:
# 딕셔너리 만들기
member = {'이름': '홍길동',
          '취미': ['독서', '여행', '걷기']}

In [38]:
# 이름 조회
print(member['이름'])

홍길동

In [39]:
# 취미 조회
print(member['취미'])

['독서', '여행', '걷기']

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_20.png' width=120 align="left"/>

[문1] 다음 정보를 갖는 members 라는 딕셔너리를 만들고 조회해 보세요.

- 이름: 홍길동, 한사랑, 일지매, 박여인
- 나이: 23, 21, 26, 25
- 지역: 서울, 부산, 인천, 대전
- 언어: 자바, 파이썬, 파이썬, 닷넷

In [40]:
# 딕셔너리 만들기
members = {
    'name': ['홍길동', '한사랑', '일지매', '박여인'],
    'age': [23, 21, 26, 25],
    'loc': ['서울', '부산', '인천', '대전'],
    'lang': ['자바', '파이썬', '파이썬', '닷넷']
}



# 확인
print(members)

{'name': ['홍길동', '한사랑', '일지매', '박여인'], 'age': [23, 21, 26, 25], 'loc': ['서울', '부산', '인천', '대전'], 'lang': ['자바', '파이썬', '파이썬', '닷넷']}

In [42]:
# 이름 조회
print(members['name'])

['홍길동', '한사랑', '일지매', '박여인']

In [43]:
# 나이 조회
print(members['age'])

[23, 21, 26, 25]

In [44]:
# 지역 조회
print(members['loc'])

['서울', '부산', '인천', '대전']

In [45]:
# 언어 조회
print(members['lang'])

['자바', '파이썬', '파이썬', '닷넷']

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_20e.png' width=45 align="left"/>

### 4.3.3.딕셔너리 변경, 추가, 삭제

- 인덱스 대신 Key로 찾아 변경한다는 것 외에는 리스트와 같습니다.

**1) 변경, 추가**

In [46]:
# 딕셔너리 만들기
member = {'이름': '홍길동',
          '나이': 20}

# 확인
print(member)

{'이름': '홍길동', '나이': 20}

In [47]:
# 딕셔너리 요소 값 변경
member['나이'] = 30

# 확인
print(member)

{'이름': '홍길동', '나이': 30}


- 없는 Key로 변경하면 Key:Value 형태로 추가됩니다.

In [48]:
# 딕셔너리에 요소 추가
member['취미'] = ['독서', '여행']

# 확인
print(member)

{'이름': '홍길동', '나이': 30, '취미': ['독서', '여행']}

**2) 삭제**

In [49]:
# 딕셔너리 만들기
member = {'이름': '홍길동',
          '나이': 20,
          '지역':'서울',
          '성별': 'M',
          '등급': 'Gold'}

# 확인
print(member)

{'이름': '홍길동', '나이': 20, '지역': '서울', '성별': 'M', '등급': 'Gold'}

- **del** 문으로 Key를 지정해 해당 요소를 삭제합니다.

In [50]:
# 지정한 요소 삭제
del member['나이']

# 확인
print(member)

{'이름': '홍길동', '지역': '서울', '성별': 'M', '등급': 'Gold'}

- **pop()** 메서드를 사용하면 Key를 지정해 요소를 삭제할 수 있습니다.
- 그리고 삭제된 요소의 Value를 반환받습니다.

In [51]:
# 지정한 요소 삭제
del_member = member.pop('지역')

# 확인
print(del_member)
print(member)

서울
{'이름': '홍길동', '성별': 'M', '등급': 'Gold'}

- **popitem()** 메서드로 Key 지정 없이 마지막 요소부터 삭제할 수 있습니다.
- 그리고 삭제된 요소의 key와 Value를 튜플 형태로 반환받습니다.

In [54]:
# 임의 요소 삭제
del_member = member.popitem()

# 확인
print(del_member)
print(member)

('등급', 'Gold')
{'이름': '홍길동', '성별': 'M'}

- 모든 요소 삭제는 **딕셔너리 = { }** 형태로 수행합니다.

In [ ]:
# 딕셔너리에서 모든 요소 삭제
member= {}

# 확인
print(member)

In [53]:
a, b = 10, 20

print("처음 a, b:", a, b)
print("a id:", id(a))
print("b id:", id(b))

# 값 교환
a, b = b, a

print("\n교환 후 a, b:", a, b)
print("a id:", id(a))
print("b id:", id(b))

처음 a, b: 10 20
a id: 140731170272456
b id: 140731170272776

교환 후 a, b: 20 10
a id: 140731170272776
b id: 140731170272456

### 4.3.4.딕셔너리 관련 메서드

- 딕셔너리 관련 메서드를 살펴봅니다.

**1) Key 확인**

- **keys()** 메서드를 사용해 Key 정보를 확인합니다.
- 모든 Key를 요소로 갖는 dict_keys 개체를 반환합니다.

In [55]:
# 딕셔너리 만들기
member = {'이름': '홍길동',
          '취미': ['독서', '여행', '걷기']}

# 확인
print(member)

{'이름': '홍길동', '취미': ['독서', '여행', '걷기']}

In [56]:
# Key 확인
print(member.keys())

dict_keys(['이름', '취미'])

In [57]:
# Key만 뽑아 리스트 만들기
member_keys = list(member.keys())

# 확인
print(member_keys)

['이름', '취미']

**2) Value 확인**

- **values()** 메서드를 사용해 Value 정보를 확인합니다.
- 모든 Value를 요소로 갖는 dict_values 개체를 반환합니다.

In [58]:
# Value 확인
print(member.values())

dict_values(['홍길동', ['독서', '여행', '걷기']])

In [59]:
# Value만 뽑아 리스트 만들기
member_values = list(member.values())

# 확인
print(member_values)

['홍길동', ['독서', '여행', '걷기']]

**3) Key, Value 확인**
- **items()** 메서드를 사용해 Key와 Value 정보를 확인합니다.
- 모든 key와 value를 (key, value) 형태로 갖는 dict_items 개체를 반환합니다.

In [60]:
# Key, Value 확인
print(member.items())

dict_items([('이름', '홍길동'), ('취미', ['독서', '여행', '걷기'])])

**4) 모든 요소 삭제**
- **clear()** 메서드를 사용해 모든 요소를 삭제합니다.

In [61]:
# 모든 요소 삭제
member.clear()

# 확인
print(member)

{}

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_20.png' width=120 align="left"/>

[문1] 다음 구문을 파악하고 실행해서 3개의 딕셔너리를 만드세요.

In [62]:
# 딕셔너리 만들기
stu01 = {
    'no': 1,
    'name': '홍길동',
    'score': [92, 96, 98]
}
stu02 = {
    'no': 2,
    'name': '한사랑',
    'score': [98, 64, 100]
}
stu03 = {
    'no': 3,
    'name': '일지매',
    'score': [88, 84, 92]
}

# 확인
print(stu01)
print(stu02)
print(stu03)

{'no': 1, 'name': '홍길동', 'score': [92, 96, 98]}
{'no': 2, 'name': '한사랑', 'score': [98, 64, 100]}
{'no': 3, 'name': '일지매', 'score': [88, 84, 92]}

[문2] 각 학생들의 번호에 10씩 더하세요.

In [66]:
# 번호 + 10
stu01['no'] = stu01['no'] + 10
stu02['no'] += 10
stu03['no'] += 10
# 확인
print(stu01['no'])
print(stu02['no'])
print(stu03['no'])

11
12
13

[문3] 각 학생별로 점수 평균을 구하세요.

In [69]:
# 평균 구하기
stu01_mean = sum(stu01['score']) / len(stu01['score'])
stu02_mean = sum(stu02['score']) / len(stu02['score'])
stu03_mean = sum(stu03['score']) / len(stu03['score'])

# 확인
print(stu01_mean)
print(stu02_mean)
print(stu03_mean)

95.33333333333333
87.33333333333333
88.0

[문4] 아래 out을 이용하여 stu01, stu02, stu03의 번호, 이름, 평균점수를 출력하세요.

In [73]:
# 출력 형태
out = '번호: {}, 이름: {}, 평균점수: {}'

# 출력
print(out.format(stu01['no'], stu01['name'], stu01_mean))
print(out.format(stu02['no'], stu02['name'], stu02_mean))
print(out.format(stu03['no'], stu03['name'], stu03_mean))

번호: 11, 이름: 홍길동, 평균점수: 95.33333333333333
번호: 12, 이름: 한사랑, 평균점수: 87.33333333333333
번호: 13, 이름: 일지매, 평균점수: 88.0

[문5] 평균점수는 소수점 이하 2자리만 보이게 수정해서 출력하세요.

In [82]:
# 출력 형태
#out = '번호: {}, 이름: {}, 평균점수: {:.2f}'
out = '번호: {}, 이름: {}, 평균점수: {}'

# 출력
print(out.format(stu01['no'], stu01['name'], f"{stu01_mean:.2f}"))
print(out.format(stu02['no'], stu02['name'], f"{stu02_mean:.2f}"))
print(out.format(stu03['no'], stu03['name'], stu03_mean))

번호: 11, 이름: 홍길동, 평균점수: 95.33
번호: 12, 이름: 한사랑, 평균점수: 87.33
번호: 13, 이름: 일지매, 평균점수: 88.0

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_20e.png' width=45 align="left"/>